<!DOCTYPE html>

<html>

<head>
    <title>circle women/leadership</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<body>

    <div class="container">
        <div class="heading-top">
            <div class="heading-container">
                <img class="img-circle" src="../assets/image/circle_logo-e1438888875307.png" width="80" height="80" />
            </div>

            <nav class="heading-container">
                <ul class="nav-ul">
                    <li><a href="../index.html" />Home</a></li>
                    <li><a href="./about.html" />Pakistan</a></li>
                    <li><a href="./she_loves_tech.html" />She Loves Tech</a></li>
                    <li><a href="./tech_karo.html" />Tech Karo</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-bg-about"></div>

    <div class="container">
        <h1 style="color: crimson ;">CIRCLE Pakistan</h1>

        <p> Led by Sadaffe Abid, CIRCLE Pakistan’s mission is to advance women’s economic participation and empowerment
            through innovative entrepreneurship and leadership labs, advocacy campaigns and research. We develop and
            support
            the entrepreneurial and leadership capacity of women and youth in Pakistan to bring about economic growth
            and
            social change.</p>

        <h4 style="color: crimson ;">Areas of work</h4>
        <ul>
            <li>
                <b>Leadership capacity building</b> of women and youth in Pakistan through workshops, fellowship
                programmes,
                dialogues and mentoring
            </li>
            <li>
                <b>Research and Advocacy</b> to achieve women’s equal representation and access through building a
                knowledge base, campaigning & partnerships</li>
            <li>
                <b>Entrepreneurship and social innovation</b> through supporting women’s entrepreneurship and leadership
                in Pakistan and regionally</li>
        </ul>

        <h1 style="color: crimson ;">Why We Do It</h1>

        <p>Women are a powerful new growth market.</p>


        <table>
            <tr>
                <td style="width: 550px; padding: 20px;">
                    <h2 style="color: crimson ;">Today:</h2>

                    <ul>
                        <li>Women boost the bottom line.</li>
                        <li>Many CEOs publicize the need to attract more women leaders.</li>
                        <li>Women’s unique capabilities in emotional intelligence, collaboration, and communication are
                            not
                            fully utilized.
                            Yet:
                            Few business school programs employ women faculty or offer models that address women’s
                            leadership.
                            Many organizations lack lasting, actionable strategies to support the talk.
                            The dialogue on women typically focuses on skills that </li>
                    </ul>
                </td>
                <td style="width: 550px; padding: 20px;">

                    <h2 style="color: crimson ;">Yet:</h2>

                    <ul>
                        <li>Few business school programs employ women faculty or offer models that address women’s
                            leadership.
                        </li>
                        <li>Many organizations lack lasting, actionable strategies to support the talk.</li>
                        <li>The dialogue on women typically focuses on skills that women are lacking.</li>
                    </ul>

                </td>
            </tr>
        </table>

        <div style="text-align:center;">
            <h1 style="color: crimson ;">CIRCLE In the News</h1>
        </div>

      

        <div class="teck_karo__main" style="flex-wrap: wrap; margin: 40px 0;">
            <img style="margin: 10px ;" src="../assets/image/DAWNLogo-1-300x150.jpg"/>
            <img style="margin: 10px ;" src="../assets/image/i-genius-logo.png"  />
            <img style="margin: 10px ;" src="../assets/image/tribune.png"  />
            <img style="margin: 10px ;" src="../assets/image/wamda-400x125.png"  />
            <img style="margin: 10px ;" src="../assets/image/perspective-logo.png" />
            <img style="margin: 10px ;" src="../assets/image/GG-300x54.png" />
            <img style="margin: 10px ;" src="../assets/image/untitled-300x64.png"  />
            <img style="margin: 10px ;" src="../assets/image/Tex1-150x150.png" />
            <img src="../assets/image/business-recorder.png" />
            <img style="margin-left: 50px ;" src="../assets/image/images (1).png"  />
        </div>

    </div>



    </div>
</body>

</html>