<!DOCTYPE html>

<html>

<head>
    <title>circle women/leadership</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="heading-top">
            <div class="heading-container">
                <img src="../assets/image/circle_logo-e1438888875307.png" width-"100" height="100" />
            </div>
            <nav class="heading-container">
                <ul class="nav-ul">
                    <li><a href="../index.html" />Home</a></li>
                    <li><a href="./about.html" />Pakistan</a></li>
                    <li><a href="./she_loves_tech.html" />She Loves Tech</a></li>
                    <li><a href="./tech_karo.html" />Tech Karo</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-bg-slt"></div>
    <!-- <img src="../assets/image/slt.jpg" width="800" /> -->
    <div class="container">

        <h1 style="color: crimson ;">ABOUT US</h1>

        <p>She Loves Tech is a global competition which showcases the convergence of the latest trends in technology,
            entrepreneurship, innovation and the opportunities it creates for women. Today, it is the world’s largest
            women and tech start-up competition.

            CIRCLE is She Loves Tech’s official partner for Pakistan, since 2017. Over the years we have received more
            than 400 applications from women-led start-ups from across Pakistan, with regional rounds in various cities
            including Karachi, Islamabad, Lahore, Abbottabad and Peshawar.</p>
        </div>
        <div style="text-align: center; background-color: lightgray;" class="p-t-b-25">

            <h2 style="color: crimson ;">SHE LOVES TECH IN NUMBERS</h2>
            <div class="teck_karo__main__card">
               
                <div>
                    <h1>1000+</h1>
                    <p>GLOBAL STARTUP'S</p>
                </div>
                <div>
                    <h1>1000+</h1>
                    <p>GLOBAL STARTUP'S</p>
                </div>
                <div>
                    <h1>1000+</h1>
                    <p>GLOBAL STARTUP'S</p>
                </div>

            </div>
        </div>

        <div class="container">
            <h1 style="color: crimson ;">OUR JOURNEY</h1>

            <p>After receiving 100+ applications nationwide, CIRCLE’s team of 6 women traveled a distance of 2,025km through
                Karachi, Lahore, Islamabad, Abbottabad and Peshawar, to inspire women to believe in themselves. The team was
                joined by a group of like-minded and motivated individuals who were dedicated to the purpose of up-lifting
                women in Pakistan and helping them break barriers.
    
                Our travel through train, Daweoo and bus ensured that we have the opportunity to interact with people from
                all walks of life, encourage more women to say “yes” to opportunities and gather the support of our male
                allies.</p>
    
                
                <h2 style="color: crimson ;">SHE LOVES TECH PAKISTAN FINAL 2019 </h2>
    
            <p>At the final round in Pakistan, we witnessed women with innovative ideas on diverse issues ranging from
                mental health, education, tourism to battling breast cancer pitch their startups at the finals. The Pakistan
                winner will be travelling to Beijing, China to compete in the Global Round.</p>
            <!-- <div class="container"> -->
            <div class="teck_karo__main">
                <div style="text-align:center">
                    <h3 style="color: crimson ;">WINNER</h3>
                    <b>DOT MIND UNLOCKED</b>
                    <P>(YISHEL KHAN)</P>
                </div>
    
                <div style="text-align: center;">
                    <h3 style="color: crimson ;">FIRST RUNNER UP</h3>
                    <b>PSSEC</b>
                    <p>(ZARTAJ WASEEM)</p>
                </div>
                <div style="text-align: center;">
                    <h3 style="color: crimson ;">SECOND RUNNER UP</h3>
    
                    <b>THE MAD HATTERS</b>
                    <P> (ANEEQA ALI)</P>
    
                </div>
            </div>
    
        </div>
        </div>
        


    <div class="container">
        <div style="text-align: center;">
            <img src="../assets/image/AZP7212.jpg" height="600" />

        </div>
        </div>
        
   

</body>

</html>